
.match-dataset {
    display: inline-block;
    width: 11em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    vertical-align: middle;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.match-dataset-select {
    vertical-align: middle;
}
.match-dataset-count {
    padding-inline-start: 0.5em;
}
.match-report-meta label {
    font-weight: bold;
}
.match-report-meta .section {
    margin-top: 0.5em;
}
.match-report-meta .ts-value {
    font-size: 0.8em;
}
