#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

#map-view {
  height: 100%;
  width: 100%;
}

#map-location {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 10px;
  width: calc(275px + 2em);
}

#map-location input {
  margin-right: 1em;
}

#map-style-button {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: calc(275px + 2em + 40px);
}

a.goto-button {
  background-color: rgb(251, 250, 250);
  padding: 0.2em 0.5em;
  border: 1px solid #666;
  border-radius: 5px;
  text-decoration: none;
  font-size: .8em;
}
